@import '../abstract/breakpoint';

.custom-page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    article {
        background: white;
        padding: 1rem;
        margin-bottom: 6vh;
        border-radius: 5px;
        width: 80%;

        .price {
            color: black;
            font-size: 2rem;
        }

        .custom-color {
            width: 100%;
            display: flex;
            justify-content: center;

            margin-bottom: 4vh;

            .container-color {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .color-input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color: transparent;
                    width: 50px;
                    height: 50px;
                    border: none;
                    cursor: pointer;
                }
                .color-input::-webkit-color-swatch {
                    border-radius: 50%;
                    border: 1px solid black;
                }
                .color-input::-moz-color-swatch {
                    border-radius: 50%;
                    border: 1px solid black;
                }


                .color-label {
                    color: black;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }

        .btn-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                color: black;
                border-radius: 5px;
                border: solid black 2px;
                padding: 0.5rem;
                cursor: pointer;
            }
        }
    }
}
