@import './abstract/breakpoint';
@import './abstract/font';
@import './pages/pages';
@import './header.scss';
@import './footer';

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#app {
    max-width: 1500px;
}
